In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

house=pd.read_csv('house.csv',engine='python',encoding='gbk',names=['小区名称','总价','总价单位','单价','单价单位','户型','楼层','朝向','面积','年份','区域','地点'])
print(house.head(),house.shape)

        小区名称     总价 总价单位     单价  单价单位    户型   楼层   朝向        面积      年份    区域  \
0   世茂运河城尚运苑  368.0    万  26958  元/平米  3室2厅  低楼层  南 北  136.51平米    未知年建    姑苏
1     阳光水榭花园  190.0    万  21215  元/平米  2室1厅  中楼层    南   89.56平米  2006年建    吴中
2     湖岸名家南区  155.0    万  20946  元/平米  2室2厅  低楼层    南      74平米  2007年建    吴中
3       香城颐园  200.0    万  22334  元/平米  2室2厅  低楼层  南 北   89.55平米  2012年建    相城
4  雅戈尔YAKR公馆  440.0    万  41084  元/平米  2室2厅  高楼层    南   107.1平米  2008年建  工业园区

     地点
0  沧浪新城
1    城南
2    郭巷
3    元和
4    玲珑   (3000, 12)

In [4]:
#删除异常楼层字段
for i in range(len(house)):
    if '共' in house['楼层'].loc[i]:
        house = house.drop([i])
house = house.reset_index(drop=True)

In [5]:
#删除无朝向的字段
for i in range(len(house)):
    if '暂无' in house['朝向'].loc[i]:
        house = house.drop([i])
house = house.reset_index(drop=True)

In [6]:
#删除未知年的字段
for i in range(len(house)):
    if '未知' in house['年份'].loc[i]:
        house = house.drop([i])
house = house.reset_index(drop=True)

In [7]:
house = house.drop_duplicates().reset_index(drop=True)
house.shape

(2726, 12)

In [8]:
if "小区名称" in house:
    house=house.drop(['小区名称'],axis=1)
if "单价" in house:
    house=house.drop(['单价'],axis=1)
if "总价单位" in house:
    house=house.drop(['总价单位'],axis=1)
if "单价单位" in house:
    house=house.drop(['单价单位'],axis=1)

In [9]:
house.head()

      总价    户型   楼层   朝向       面积      年份    区域  地点
0  190.0  2室1厅  中楼层    南  89.56平米  2006年建    吴中  城南
1  155.0  2室2厅  低楼层    南     74平米  2007年建    吴中  郭巷
2  200.0  2室2厅  低楼层  南 北  89.55平米  2012年建    相城  元和
3  440.0  2室2厅  高楼层    南  107.1平米  2008年建  工业园区  玲珑
4  124.0  2室2厅  低楼层  东 西  94.91平米  2013年建    吴中  城南

In [10]:
area = house['面积'].copy()
for i in range(len(area)):
    area.iloc[i] = area.iloc[i].strip("平米")
house['大小']=area
house.head()

      总价    户型   楼层   朝向       面积      年份    区域  地点     大小
0  190.0  2室1厅  中楼层    南  89.56平米  2006年建    吴中  城南  89.56
1  155.0  2室2厅  低楼层    南     74平米  2007年建    吴中  郭巷     74
2  200.0  2室2厅  低楼层  南 北  89.55平米  2012年建    相城  元和  89.55
3  440.0  2室2厅  高楼层    南  107.1平米  2008年建  工业园区  玲珑  107.1
4  124.0  2室2厅  低楼层  东 西  94.91平米  2013年建    吴中  城南  94.91

In [11]:
if "面积" in house:
    house=house.drop(['面积'],axis=1)

In [12]:
df1 = house['年份'].copy()
year_now = 2019
for i in range(len(df1)):
    details = df1.iloc[i]
    year_build = int(details.strip('年建'))
    year_diff = year_now - year_build
    if year_diff < 5:
        df1.iloc[i] = '5年以内建造'
    elif year_diff < 10:
        df1.iloc[i] = '6-10年前建造'
    elif year_diff < 15:
        df1.iloc[i] = '11-15年前建造'
    elif year_diff < 20:
        df1.iloc[i] = '16-20年前建造'
    else:
        df1.iloc[i] = '超过20年前建造'
house['年份']=df1

In [13]:
#对数值字段进行标准化处理
house['大小']=house['大小'].astype('float')
house['总价']= (house['总价'] - house['总价'].mean()) / (house['总价'].std())
house['大小']= (house['大小'] - house['大小'].mean()) / (house['大小'].std())

In [14]:
print(house.head())
print(house.shape)

         总价    户型   楼层   朝向         年份    区域  地点        大小
0 -0.649888  2室1厅  中楼层    南  11-15年前建造    吴中  城南 -0.623108
1 -0.839060  2室2厅  低楼层    南  11-15年前建造    吴中  郭巷 -1.003166
2 -0.595839  2室2厅  低楼层  南 北   6-10年前建造    相城  元和 -0.623352
3  0.701342  2室2厅  高楼层    南  11-15年前建造  工业园区  玲珑 -0.194688
4 -1.006613  2室2厅  低楼层  东 西   6-10年前建造    吴中  城南 -0.492433
(2726, 8)

In [15]:
house.to_excel("苏州房价数据处理结果3.xlsx",columns = house.iloc[0].keys())